<!DOCTYPE html>
<html>
  <head>
      <title>Skeleton</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
      <style>
        body { padding-top:80px; }
      </style>
  </head>

    <body>
      <div class="container">
      <div class="jumbotron text-center">
        <h1>
          <span class="fa fa-lock"> Node Authentication</span>
        </h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default">
          <span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      </div>
    </div>
    <!-- <div class="container">
        Skeleton
    </div>

    <div id="landing-header">
 		<h1>Skeleton</h1>
     <p id="landing-p">Skeleton.</p>
		<a href="/reports" class="btn btn-lg btn-success">Skeleton</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul> -->
</body>
</html>
